$default-text-size: 62.5%;

// Color Variables

$color-primary-blue: hsl(246, 80%, 60%);
$color-primary-light-red-work: hsl(15, 100%, 70%);
$color-primary-light-red-study: hsl(348, 100%, 68%);
$color-primary-soft-blue-play: hsl(195, 74%, 62%);
$color-primary-lime-green-exercise: hsl(145, 58%, 55%);
$color-primary-violet-social: hsl(264, 64%, 52%);
$color-primary-soft-orange-selfcare: hsl(43, 84%, 65%);

$color-neutral-very-dark-blue: hsl(226, 43%, 10%);
$color-neutral-dark-blue: hsl(235, 46%, 20%);
$color-neutral-desaturated-blue: hsl(235, 45%, 61%);
$color-neutral-pale-blue: hsl(236, 100%, 87%);

//Background container Variables-Desktop
$main-component-max-width-desktop: 144rem;
$main-component-max-height-desktop: 102.4rem;

//Background container Variables-Mobile
$main-component-max-width-mobile-650px: 70rem;
$main-component-max-width-mobile-375px: 37.5rem;
$main-component-max-width-mobile-285px: 28.5rem;

//Content Variables
$content-max-width-desktop: 111.2rem;
$content-max-width-mobile: 37.5rem;

//Card Variables Desktop
$card-max-width-desktop: 63.7rem;

//Card Variables Responsive
$card-max-width-responsive-612px: 40rem;
