* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

:root {
  font-size: 62.5%; }

body {
  line-height: 1.6;
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem; }
  body .font-weight-300 {
    font-weight: 300; }
  body .font-weight-400 {
    font-weight: 400; }
  body .font-weight-500 {
    font-weight: 500; }
  body .font-weight-600 {
    font-weight: 600; }
